<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J. R. R. Tolkien Home Page</title>

    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>

            <li><a href="/about">About</a></li>

            <li><a href="/works">Works</a></li>

            <li><a href="/gallery">Gallery</a></li>


        </ul>

    </nav>
    <div class="text">
    <h1>Gallery</h1>
</div>

<div class="images">
    <img src="images/tolkien.jpeg" alt="tolkien"/>
    <br>
    <img src="images/hobbit.jpeg" alt="hobbit" id="hobbit"/>
    <br>
    <img src="images/Jrr-tolkien-1-.webp" alt="tolkien"/>
    <br>
    <img src="images/lotr.jpeg" alt="lotr" id="lotr"/>
</div>
</body>
</html>