<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>

            <li><a href="/about">About</a></li>

            <li><a href="/works">Works</a></li>


        </ul>

    </nav>

    <h1>Works</h1>
    <p>"Beowulf: The Monsters and the Critics"
Main article: Beowulf: The Monsters and the Critics
In addition to writing fiction, Tolkien was an author of academic literary criticism. His seminal 1936 lecture, later published as an article, revolutionized the treatment of the Anglo-Saxon epic Beowulf by literary critics. The essay remains highly influential in the study of Old English literature to this day.[118] Beowulf is one of the most significant influences upon Tolkien's later fiction, with major details of both The Hobbit and The Lord of the Rings being adapted from the poem.[119]

"On Fairy-Stories"
Main article: On Fairy-Stories
This essay discusses the fairy-story as a literary form. It was initially written as the 1939 Andrew Lang Lecture at the University of St Andrews, Scotland. Tolkien focuses on Andrew Lang's work as a folklorist and collector of fairy tales. He disagreed with Lang's broad inclusion, in his Fairy Book collections, of traveller's tales, beast fables, and other types of stories. Tolkien held a narrower perspective, viewing fairy stories as those that took place in Faerie, an enchanted realm, with or without fairies as characters. He viewed them as the natural development of the interaction of human imagination and human language.[120]

Children's books and other short works
In addition to his mythopoeic compositions, Tolkien enjoyed inventing fantasy stories to entertain his children.[121] He wrote annual Christmas letters from Father Christmas for them, building up a series of short stories (later compiled and published as The Father Christmas Letters).[122] Other works included Mr. Bliss and Roverandom (for children), and Leaf by Niggle (part of Tree and Leaf), The Adventures of Tom Bombadil, Smith of Wootton Major and Farmer Giles of Ham. Roverandom and Smith of Wootton Major, like The Hobbit, borrowed ideas from his legendarium.[123]

The Hobbit
Main article: The Hobbit
Tolkien never expected his stories to become popular, but by sheer accident a book called The Hobbit, which he had written some years before for his own children, came in 1936 to the attention of Susan Dagnall, an employee of the London publishing firm George Allen & Unwin, who persuaded Tolkien to submit it for publication.[84] When it was published a year later, the book attracted adult readers as well as children, and it became popular enough for the publishers to ask Tolkien to produce a sequel.[124]

The Lord of the Rings
Main article: The Lord of the Rings
The request for a sequel prompted Tolkien to begin what became his most famous work: the epic novel The Lord of the Rings (originally published in three volumes in 1954–1955). Tolkien spent more than ten years writing the primary narrative and appendices for The Lord of the Rings, during which time he received the constant support of the Inklings, in particular his closest friend C. S. Lewis, the author of The Chronicles of Narnia. Both The Hobbit and The Lord of the Rings are set against the background of The Silmarillion, but in a time long after it.[125]

Tolkien at first intended The Lord of the Rings to be a children's tale in the style of The Hobbit, but it quickly grew darker and more serious in the writing.[126] Though a direct sequel to The Hobbit, it addressed an older audience, drawing on the immense backstory of Beleriand that Tolkien had constructed in previous years, and which eventually saw posthumous publication in The Silmarillion and other volumes.[125] Tolkien strongly influenced the fantasy genre that grew up after the book's success.[127]

The Lord of the Rings became immensely popular in the 1960s and has remained so ever since, ranking as one of the most popular works of fiction of the 20th century, judged by both sales and reader surveys.[128] In the 2003 "Big Read" survey conducted by the BBC, The Lord of the Rings was found to be the UK's "Best-loved Novel".[129] Australians voted The Lord of the Rings "My Favourite Book" in a 2004 survey conducted by the Australian ABC.[130] In a 1999 poll of Amazon.com customers, The Lord of the Rings was judged to be their favourite "book of the millennium".[131] In 2002 Tolkien was voted the 92nd "greatest Briton" in a poll conducted by the BBC, and in 2004 he was voted 35th in the SABC3's Great South Africans, the only person to appear in both lists. His popularity is not limited to the English-speaking world: in a 2004 poll inspired by the UK's "Big Read" survey, about 250,000 Germans found The Lord of the Rings to be their favourite work of literature.[132]

The Silmarillion
Tolkien wrote a brief "Sketch of the Mythology", which included the tales of Beren and Lúthien and of Túrin; and that sketch eventually evolved into the Quenta Silmarillion, an epic history that Tolkien started three times but never published. Tolkien desperately hoped to publish it along with The Lord of the Rings, but publishers (both Allen & Unwin and Collins) declined. Moreover, printing costs were very high in 1950s Britain, requiring The Lord of the Rings to be published in three volumes.[133] The story of this continuous redrafting is told in the posthumous series The History of Middle-earth, edited by Tolkien's son, Christopher Tolkien. From around 1936, Tolkien began to extend this framework to include the tale of The Fall of Númenor, which was inspired by the legend of Atlantis.[134]

Tolkien appointed his son Christopher to be his literary executor, and he (with assistance from Guy Gavriel Kay, later a well-known fantasy author in his own right) organized some of this material into a single coherent volume, published as The Silmarillion in 1977. It received the Locus Award for Best Fantasy novel in 1978.[135]

Unfinished Tales and The History of Middle-earth
In 1980, Christopher Tolkien published a collection of more fragmentary material, under the title Unfinished Tales of Númenor and Middle-earth. In subsequent years (1983–1996), he published a large amount of the remaining unpublished materials, together with notes and extensive commentary, in a series of twelve volumes called The History of Middle-earth. They contain unfinished, abandoned, alternative, and outright contradictory accounts, since they were always a work in progress for Tolkien and he only rarely settled on a definitive version for any of the stories. There is not complete consistency between The Lord of the Rings and The Hobbit, the two most closely related works, because Tolkien never fully integrated all their traditions into each other. He commented in 1965, while editing The Hobbit for a third edition, that he would have preferred to rewrite the book completely because of the style of its prose.</p>
</body>
</html>